mattermostdriver>=7.3.2
certifi>=2024.2.2
beautifulsoup4>=4.12.3
pillow>=10.3.0
httpx>=0.27.0
youtube-transcript-api>=0.6.2
yt-dlp>=2024.4.9
openai>=1.25.2
PyMuPDF>=1.24.2
defusedxml>=0.7.1
yfinance>=0.2.38